 # Read CSV

In [1]:
import pandas as pd

In [3]:
csv_1 = pd.read_csv("test.csv")  #reads the csv file
csv_1

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [4]:
csv_2 = pd.read_csv("test.csv",nrows= 100) #to get n number of rows
csv_2

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
95,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H07,Non-operating income,Financial performance,264,"ANZSIC06 groups A011, A012, and A013"
96,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H08,Total expenditure,Financial performance,"4,374","ANZSIC06 groups A011, A012, and A013"
97,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H09,Interest and donations,Financial performance,181,"ANZSIC06 groups A011, A012, and A013"
98,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H10,Indirect taxes,Financial performance,35,"ANZSIC06 groups A011, A012, and A013"
99,2021,Level 4,AA111,Horticulture and Fruit Growing,Dollars (millions),H11,Depreciation,Financial performance,278,"ANZSIC06 groups A011, A012, and A013"

In [8]:
csv_4 = pd.read_csv("test.csv",nrows= 10) #to get n number of rows
csv_4

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...

In [9]:
csv_4 = pd.read_csv("test.csv", usecols= ["Industry_code_ANZSIC06"]) #to get specific column
csv_4

                                  Industry_code_ANZSIC06
0      ANZSIC06 divisions A-S (excluding classes K633...
1      ANZSIC06 divisions A-S (excluding classes K633...
2      ANZSIC06 divisions A-S (excluding classes K633...
3      ANZSIC06 divisions A-S (excluding classes K633...
4      ANZSIC06 divisions A-S (excluding classes K633...
...                                                  ...
41710  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41711  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41712  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41713  ANZSIC06 groups C111, C112, C113, C114, C115, ...
41714  ANZSIC06 groups C111, C112, C113, C114, C115, ...

[41715 rows x 1 columns]

In [10]:
csv_5 = pd.read_csv("test.csv", usecols= ["Industry_code_ANZSIC06","Year","Units"]) #to get specific columns
csv_5

,Year,Units,Industry_code_ANZSIC06
0,2021,Dollars (millions),ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Dollars (millions),ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Dollars (millions),ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Dollars (millions),ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Dollars (millions),ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...
41710,2013,Percentage,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Percentage,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Percentage,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Percentage,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Percentage,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

### get specific columns by passing index number

In [11]:
csv_6 = pd.read_csv("test.csv", usecols= [0,3,5,4,5]) #using index number 
csv_6

       Year        Industry_name_NZSIOC               Units Variable_code
0      2021              All industries  Dollars (millions)           H01
1      2021              All industries  Dollars (millions)           H04
2      2021              All industries  Dollars (millions)           H05
3      2021              All industries  Dollars (millions)           H07
4      2021              All industries  Dollars (millions)           H08
...     ...                         ...                 ...           ...
41710  2013  Food product manufacturing          Percentage           H37
41711  2013  Food product manufacturing          Percentage           H38
41712  2013  Food product manufacturing          Percentage           H39
41713  2013  Food product manufacturing          Percentage           H40
41714  2013  Food product manufacturing          Percentage           H41

[41715 rows x 4 columns]


## Skip a specific row

In [12]:
csv_4 = pd.read_csv("test.csv",nrows= 10, skiprows = [0,1]) 
csv_4

,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
5,2021,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
6,2021,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
7,2021,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...
8,2021,Level 1,99999,All industries,Dollars (millions),H14,Salaries and wages to self employed commission...,Financial performance,"2,085",ANZSIC06 divisions A-S (excluding classes K633...
9,2021,Level 1,99999,All industries,Dollars (millions),H19,Purchases and other operating expenses,Financial performance,"452,963",ANZSIC06 divisions A-S (excluding classes K633...

# make index of a column

In [16]:
csv_7 = pd.read_csv("test.csv", nrows=5, index_col = "Year") #changes the index to "Year" column
csv_7

,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
Year,,,,,,,,,
2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...

### Change the header

In [18]:
csv_8 = pd.read_csv("test.csv", nrows=5, header = 5) #header is changed .... the fifth row is header now !
csv_8

,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,2021,Level 1,99999,All industries,Dollars (millions),H09,Interest and donations,Financial performance,"26,138",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H10,Indirect taxes,Financial performance,"6,991",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H11,Depreciation,Financial performance,"27,801",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H12,Salaries and wages paid,Financial performance,"123,620",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H13,Redundancy and severance,Financial performance,275,ANZSIC06 divisions A-S (excluding classes K633...

# Add or changes custom heading (name function)

In [25]:
csv_9 = pd.read_csv("test.csv", nrows=5, names = ["a","b","c","d","e","f","g","h","i","j"]) 
csv_9

,a,b,c,d,e,f,g,h,i,j
0,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
1,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...

## Use of prefix in the heading

In [1]:
csv_10 = pd.read_csv("test.csv", nrows=5, , header = None, prefix = "col")
csv_10

SyntaxError: invalid syntax (2901973529.py, line 1)